@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: "Montserrat", sans-serif;
  }

  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  .card-shadow {
    @apply shadow-lg hover:shadow-xl transition-shadow duration-300;
  }
}
